

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
:root{
    --grayColor : #ccdad1;
    --darkBlue : #0e0e55;

}
header{
    background-color: var(--darkBlue);
    padding: 60px 0px;
    text-align: center;

}
header .app-title{
    font-size: 45px;
    background-color: var(--grayColor);
    color: var(--darkBlue);
    padding: 3px 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 6px 5px 3px #000;
}
.content{
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;

}
.left{
    width: 30%;

}
.right{
    width: 68%;
}
.card{
    border:  1px solid var(--darkBlue);
    margin-bottom: 20px;
}
.card h2{
    background-color: var(--darkBlue);
    color: #fff;
    padding: 15px;
    border-radius: 3px;
}
form{
    padding: 15px;
}
form label{
    font-size: 20px;
    display: block;
    text-transform: capitalize;
}
input{
    padding: 10px;
    width: 100%;
    margin: 7px 0px;
    font-size: 16px;
    border: 1px solid var(--darkBlue);
    outline: none;
    border-radius: 5px;

}
.btn{
    width: 100%;
    display: block;
    background-color: #000;
    margin: 5px 0;
    color: #fff;
    padding: 7px 0px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.languages{
    padding: 10px;
}
.repo-item{
    color: #fff;
    display: flex;
    background-color: var(--darkBlue);
    justify-content: space-between;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin: 7px 0;
}
.repo-item:hover{
    background-color: black;
}
